/* Declare all variables for later use */
:root {
    --blue:#24565A;
    --east-bay:#4C537D;
    --gray: #D4DEDF;
    --brown: #A36041;
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --purple: #A031E9;
    --black: #314347;
    --gold: #EBC799;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

/* styling for when text is selected */
::selection {
    background-color: var(--bright-turquoise);
    color: var(--outer-space);
}

/* =========================================================== */
/* set up font for the whole site */
html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family-sans-serif);
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--outer-space);
    background-color: var(--gray);
    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}

h2 {
    margin-bottom: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8rem;
}

main {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section {
    flex-direction: column;
    row-gap: 2rem;
}

button {
    width: fit-content;
    padding: 0.5rem;
}

p {
    text-align: center;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}

.center {
    margin: 0 auto;
}

.noti {
    width: 100%;
    margin: 2rem 0;
    border-top: 1px solid var(--gold);
}